
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Rajdhani&display=swap');

body {
  margin: 0;
  background: rgb(50,49,56);
  background: radial-gradient(circle, rgba(50,49,56,1) 0%, rgba(45,45,48,1) 35%, rgba(0,0,0,1) 100%);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(10, 214, 10);
  -webkit-filter: drop-shadow(2px 2px 2px rgb(26, 25, 25));
  filter: drop-shadow(2px 2px 2px rgb(26, 25, 25));
}
a {
  text-decoration: none;
  color: rgb(10, 214, 10);
}
header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px 0 30px;
  flex-wrap: nowrap;
}
app {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.greeting {
  font-family: 'courier new';
  margin-left: 10px;
}
.title {
  font-family: 'Cute Font', cursive;
  font-size: 90px;
  margin: 30px 0 -35px 0;
}
h1 {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  margin-top: 1px;
}
hr {
  border: solid 1px rgb(10, 214, 10);
}
.titleWrap {
  margin: -70px 10px 0 10px;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 30px 30px 0 30px;
}
.gameListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.filterButton {
  background-color: #20bb1a;
  color: black;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  margin-bottom: 10px;
  border: 0;
  cursor: pointer;
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
}
.filterButton:hover, .filterButton:active{
  background-color: #90d88e;
}
.xButton {
  background-color: #00000000;
  color: #20bb1a;
  border: 0;
  cursor: pointer;
  font-size: 20px;
}
.xButton:hover, .xButton:active, .dots:hover, .dots:active  {
  color: #90d88e;
}
.gameListWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
.gameWrapper {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  border: solid 1px #20bb1a;
}
.gameWrapper:hover {
  transition: transform .5s ease;
  transform: scale(1.1);
}
.gameDetailsWrapper {
  margin: 50px 20px 20px 20px;
}
.gameDetails {
  padding: 5px;
  font-size: 17px;
  font-family: 'Rajdhani', sans-serif;
}
.imagePreview {
  height: 150px;
  overflow: hidden;
  background-position: top;
  background-size: 100%;
  border-radius: 5px;
}
.detailsX {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: -10px 0 -5px 0;
  font-size: 24px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.116);
}
.detailsX:hover, .detailsX:active {
  -webkit-filter: drop-shadow(0 0 0 rgb(26, 25, 25));
  filter: drop-shadow(0 0 0 rgb(26, 25, 25));
  color: #90d88e;
}
.detailBody {
  border: solid 1px #20bb1a;
  border-radius: 10px;
  padding: 10px;
  width: 90vw;
}
.detailImageBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
  height: 60vh;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.detailImage {
  width: 30%;
  border-radius: 5px;
  margin: 10px 5px 0 5px;
}
.detailImage:active, .detailImage:hover {
  border: solid 1px #20bb1a;
  margin: 9px 4px -1px 4px;
}
.gameTitle {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  color: white;
  margin: -10px 0 0 -5px;
}
.detailData {
  background-color: rgba(29, 29, 29, 0.808);
  margin: 200px 0 0 90px;
  padding: 20px;
  border-radius: 5px;
  font-family: 'Rajdhani', sans-serif;
  
}
.footerWrapper {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #20bb1a;
  color: black;
  padding: 20px;
  width: 60%;
  margin-top: 20px;
  text-align:center;
}
#footerWrapper a {
  color: black;
}
#footerWrapper a:hover {
  color: rgb(185, 245, 185)
}
.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
  margin-top: -10px;
  -webkit-filter: drop-shadow(1px 1px 1px rgb(26, 25, 25));
  filter: drop-shadow(1px 1px 1px rgb(26, 25, 25));
}
.socialLinks {
  display: flex;
  justify-content: space-between;
  width: 120px;
}
.socialLink {
  width: 30px;
  height: 30px;
}
img.socialLink:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
/* social media button shake code */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.lorianne {
  border-radius: 30%;
  border: solid 1px #000000;
  padding: 1px;
  height: 50px;
  width: auto;
  margin-right: 6px;
}
.apellido {
  font-family: 'Rajdhani', sans-serif;
  margin-left: 3px;
}
.me {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

}


@media screen and (max-width: 900px) {
.detailData {
  margin: 200px 0 0 0;
  padding: 20px;
  width: 50vw;
  height: auto;
  background-color: rgba(29, 29, 29, 0.616);
}
.title {
  margin: 30px 0 0 0;
  font-size: 12vw;
}
.greeting {
  font-size: 15px;
}

.footerWrapper {
  width: 100%;
}
.footerContainer {
  flex-direction: column;
  padding: 0;
  margin: 15px 0 -5px 0;
}
.socialLinks {
  padding-top: 10px;
}
.lorianne {
  display: none;
}
}